---
layout: reveal
title: Introducing Open Data
description: 
author: Dr David Tarrant
twitter: davetaz
---


{% include odi_logo.html %}

{% include standard_title.html %}

<style type="text/css">
@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);

reveal {
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 36px;
  font-weight: 200;
  letter-spacing: 0.6em;
  color: #333333;
 }
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #bfbfbf;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  line-height: 1.2em;
  letter-spacing: 0.005em;
  text-shadow: none;
 }
</style>


<section style="text-align: left;" data-state="odi-circles">
	<h2>Overview</h2>
	<ul style="margin-left: 30px; font-size: 48px; line-height: 1.8; list-style-type: none;">
		<li style="margin-left: 60px;">Defining open data</li>
		<li style="margin-left: 120px;">&nbsp;</li>
		<li style="margin-left: 180px;">Open data vs data</li>
		<li style="margin-left: 240px;">&nbsp;</li>
		<li style="margin-left: 300px;">Having trust in open data</li>
	</ul>
</section>

<section style="text-align: left;" data-state="odi-dynamic">
	<h2>Exercise</h2>
	<p class="odi-question">
	What is Data? <br/><br/><small>According to the experts...</small>
	</p>
</section>

{% include training_sets/definition_of_data.html %}

<section style="text-align: left;" data-state="odi-dynamic">
	<h2>Exercise</h2>
	<p class="odi-question">
	What is Open Data?
	</p>
</section>

{% include training_sets/definition_of_open_okf.html %}

{% include training_sets/definition_of_open_okf_stack.html %}

{% include training_sets/quick_law.html %}

{% include training_sets/best_practice_guidelines.html %}

<section style="text-align: left;" data-state="odi-circles">
	<h2>Recap</h2>
	<ul style="margin-left: 30px; font-size: 48px; line-height: 1.8; list-style-type: none;">
		<li style="margin-left: 60px;">Defining open data</li>
		<li style="margin-left: 120px;">&nbsp;</li>
		<li style="margin-left: 180px;">Open data vs data</li>
		<li style="margin-left: 240px;">&nbsp;</li>
		<li style="margin-left: 300px;">Having trust in open data</li>
	</ul>
</section>

{% include training_sets/olympic_slogan.html %}

{% include odi_logo_with_text.html %}
